html,body{
    width: 100%;
    margin: auto;
}
.bg-img{
    position: relative;
    height: 800px;
    width: 100%;
}
@media screen and (max-width : 1000px){
    .bg-img{
        height: 1600px;
        width: 100%;
    }
}