html,body{
    width: 100%;
    margin: auto;
    background-color: black;
}
/* navigation */
.nav{
    border: 1px solid white;
    width: 100%;
    height: 50px;
    position: absolute;
    text-align: right;
    padding: 20px;
    margin-top: -150px;
    border: none;
    margin-left: -100px;
}
.nav a{
    font-size: 24px;
    color: white;
    padding: 25px;
    text-decoration: none;
}
/* ================================================================== */
/* background image */
.bg-img{
    position: relative;
    height: 1000px;
    width: 100%;
}
/* ============================================================= */
/* profile */
.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}
.profile{
    margin-top: -850px;
}
.name{
    color: white;
    position: absolute;
    margin-left: 280px;
margin-top: 250px;
font-size: 18px;
}
/* ===================================================== */
/* quote */
.quote-place{
    margin-top: -850px;
    margin-left: 500px; 
}
.quote{
    border-radius: 50%;
    position: absolute; 
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Times New Roman', serif;
}
/* ========================================================== */
/* heading */
h2{
    color:white;
    font-family: Verdana;
    font-size: 26px;
    position: absolute;
    border: 1px solid black;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
}
.head{
    margin-top: 300px;
    margin-left: 550px;
  
}
/* ===================================================================== */
/* types of photography */
.type1,.type3{
    float: left;
    position: relative;
    color: white;
    border: 1px solid white;
    width: 350px;
    height: 400px;
    margin-top: 150px;
    font-size: 26px;
    text-align: center;
    margin-left: 100px;
    padding-top: 25px;
    font-style: italic;
    font-weight: bold;
border: none;
}
.message{
    color: white;
    font-weight: normal;
    padding-top: 100px;
    font-size: 18px;
    text-decoration: underline;
}
/* =================================================================== */

/* ================footer================= */
.social{
    width: 45px;
    height: 45px;
    padding: 8.5px;
}
.footer{
    background-color: black;
    height: 200px;
    font-size: 22px;
    text-align: center;
    clear: both;
    position: relative;
}
.footercontents{
    padding-top: 20px;
    color: white;
}










@media screen and (max-width : 1000px){
    html,body{
        background-image: url(https://dm2306files.storage.live.com/y4mb9OcV7JBF-0FUjI6zcf_v5X7RRE1uDRq9WsEoYJ0hVC_0JcPXJINRviVeV80WjJMy3JXIAU7Wnziv0XVStu5y21z3Xt5F0XKgyV-0sJqX2uUrOA2x4v5EmDCqxTSO-ATfRX7pPcCAhu3PIwEUuVpEBFvPDB6ed2pfLoBYPMaAEwCBiWo1wk29qQp0EhPEjJW?width=1280&height=1920&cropmode=none);
        height: 1700px;
        width: 100%;
        position: relative;
        background-attachment: fixed;
    }
    .bg-img{
        display: none;
    }
    .profile-img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
    }
   .profile{
       margin-top: 1000px;
       margin-left: -100px;
   }
   .quote{
       font-size: 24px;
       margin-top: 50px;
       margin-right: 100px;
   }
   h2{
       margin-top: 400px;
       margin-left: -200px;
   }
   .type1{
       margin-top: 600px;
       width: 100%;
    margin-left: -2px;
       height: 100px;
   }
   .type3{
    margin-top: 600px;
    width: 100%;
 margin-left: -2px;
       height: 600px;
   }
   .name{
    margin-left: 170px;
   }
}