html,body{
    width: 100%;
    margin: auto;
}
.bg-img{
    position: relative;
    height: 800px;
    width: 100%;
}
.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}
.profile{
    margin-top: -650px;
    margin-left: 200px;
}

















@media screen and (max-width : 1000px){
    .background-img{
        background-image: url(https://dm2306files.storage.live.com/y4muCr5YKggvzAm6JPFfeJkzxH9QkWt8VSjEevwkADNIy-XucAAYB-zGCAm2UwrBRR3f2QnZuJArPAG8DOtq2aJx23zxQUEFT-fxCQmvQ80_BgVoIoTE48DSwBbEhwPQ-x2cHaRjoSfNbUR9nD__tzNrhZYfhHkPeh4dccc5zKzOTerHPUam4hOU1YoMg0Ci5UO?width=1484&height=1920&cropmode=none);
        height: 1700px;
        width: 100%;
    }
}